/* styles-register.css */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-container {
    width: 100%;
}

h2 {
    text-align: center;
    color: #2a5298;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2a5298;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1e3c72;
}

a {
    color: #1e3c72;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Estilo para el mensaje de éxito o error */
.success-message {
    margin-top: 15px;
    padding: 10px;
    background-color: #d4edda; /* Fondo verde claro para éxito */
    color: #155724; /* Color de texto verde */
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}

.error-message {
    margin-top: 15px;
    padding: 10px;
    background-color: #f8d7da; /* Fondo rojo claro para error */
    color: #721c24; /* Color de texto rojo */
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}

